<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请求相册权限进行扫描</string>
	<key>NSCameraUsageDescription</key>
	<string>请求相机权限进行扫描</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon</string>
				</array>
			</dict>
			<key>AppIcon01</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon01</string>
				</array>
			</dict>
			<key>AppIcon02</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon02</string>
				</array>
			</dict>
			<key>AppIcon03</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon03</string>
				</array>
			</dict>
			<key>AppIcon04</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon04</string>
				</array>
			</dict>
			<key>AppIcon05</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon05</string>
				</array>
			</dict>
			<key>AppIcon06</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon06</string>
				</array>
			</dict>
			<key>AppIcon07</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon07</string>
				</array>
			</dict>
			<key>AppIcon08</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon08</string>
				</array>
			</dict>
			<key>AppIcon09</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon09</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tayue.chatinfo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mobileproject</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>whatsapp</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>OtomanopeeOne-Regular.ttf</string>
		<string>DarumadropOne-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
